<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ga.dao.TestDao">
	<resultMap id="testMap" type="com.ga.domain.Test">
		<id column="id" property="id"  />
		<result column="name" property="name"  />
	</resultMap>
	
	<insert id="insert" parameterType="string">
	 INSERT INTO test.test 
	(id, 
	NAME
	)
	VALUES
	(NULL, 
	#{name}
	);
	</insert>
</mapper>