<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ga.dao.TrendsDao">
	
	<insert id="insertOneTrends" parameterType="com.ga.domain.Trends">
		INSERT INTO trends(id, content, address, replyCount, createTime, type, userId, userType, icon, transto) 
			VALUES	(#{id},	#{content}, #{address}, #{replyCount}, #{createTime},
			#{type}, #{userId}, #{userType}, #{icon}, #{transto});
	</insert>
	<insert id="insertOneTrendsToUserlist" parameterType="com.ga.domain.TrendsToUserlist" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO trends_to_userlist(trendId, userList, type) 
			VALUES	(#{trendId}, #{userList}, #{type});
	</insert>
	
	<select id="selectTrendsByQuery" parameterType="com.ga.dto.TrendsQueryBuilder" resultType="com.ga.domain.Trends">
	    SELECT * FROM trends t WHERE 1=1
	    <if test="trendsType != null ">
	        AND t.type = #{trendsType}
	    </if>
	    <if test="userId != null">
	        AND t.userId = #{userId}
	    </if>
	    <if test="userType != null">
	        AND t.userType = #{userType}
	    </if>
	    <if test="trendId != null and trendId != '' ">
	        AND t.id == #{trendId}
	    </if>
	    ORDER BY t.createTime DESC
	    LLIMIT #{start},#{size}
	</select>
	<select id="selectTrendsCountByQuery" parameterType="com.ga.dto.TrendsQueryBuilder" resultType="java.lang.Integer">
	    SELECT IFNULL(COUNT(0), 0) FROM trends t WHERE 1=1
	    <if test="trendsType != null ">
	        AND t.type = #{trendsType}
	    </if>
	    <if test="userId != null">
	        AND t.userId = #{userId}
	    </if>
	    <if test="userType != null">
	        AND t.userType = #{userType}
	    </if>
	    <if test="trendId != null and trendId != '' ">
	        AND t.id == #{trendId}
	    </if>
	</select>
	
	<select id="selectTrendsToUserlistByQuery" parameterType="com.ga.dto.TrendsQueryBuilder" resultType="com.ga.domain.TrendsToUserlist">
	    SELECT * FROM trends_to_userlist ttu WHERE 1=1
	    <if test="trendId != null and trendId != ''">
	        AND ttu.trendId = #{trendId}
	    </if>
	    <if test="toType != null">
	        AND ttu.type = #{toType}
	    </if>
	    LLIMIT #{start},#{size}
	</select>
	<select id="selectTrendsToUserlistCountByQuery" parameterType="com.ga.dto.TrendsQueryBuilder" resultType="com.ga.domain.TrendsToUserlist">
	    SELECT * FROM trends_to_userlist ttu WHERE 1=1
	    <if test="trendId != null and trendId != ''">
	        AND ttu.trendId = #{trendId}
	    </if>
	    <if test="toType != null">
	        AND ttu.type = #{toType}
	    </if>
	    LLIMIT #{start},#{size}
	</select>
	
</mapper>